.footer {
  padding: 60px 0;
  background-color: #2f303a;

  &-container {
    display: block;
    text-align: center;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.logo-web-foother {
  font-family: $logo-font;
  font-style: normal;
  @include font(700, 24px, 28px);
  letter-spacing: 0.03em;
  color: #2196f3;

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 31px);
  }
}

.logo-foother {
  font-family: $logo-font;
  font-style: normal;
  @include font(700, 24px, 28px);
  letter-spacing: 0.03em;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 31px);
  }
}

.logo-container {
  display: block;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-address-map {
  font-family: $main-font;
  font-style: normal;
  @include font(400, 14px, 24px);
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-mail,
.footer-address-tel {
  font-style: normal;
  @include font(400, 14px, 24px);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  display: block;
  text-align: center;
  width: 206px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 102px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
    padding-top: 12px;
    margin-right: 93px;
  }
}

.footer-title {
  @include font(700, 14px, 16px);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-icon-list {
  display: flex;
  width: 206px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor("accent");
  }
}

.footer-mailing {
  display: block;
  text-align: center;
  padding-top: 12px;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin: 0 auto;
  }
}

.title-mailing {
  @include font(700, 14px, 16px);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-input-mail {
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin: 0 auto;
  }
}

.input-mail {
  display: block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  align-items: center;
  margin: 0 auto 20px;
  padding: 0 16px;
  @include font(400, 16px, 20px);
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: 1200px) {
    display: flex;
    width: 358px;
    margin-right: 12px;
  }
}

.btn-mailing {
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  @include font(700, 16px, 30px);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  border: 0px;
  background: getColor("accent");
  color: #ffffff;
  cursor: pointer;
}

.icon-mailing {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-info {
    display: flex;
    padding: 0px 74px 0px 61px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .foter-left {
    margin-right: 80px;
  }
}

.footer-info {
  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: left;
  }
}
