.header {
  /* padding: 25px 0; */
  position: relative;
  padding: 16px 0;

  @media screen and (min-width: 768px) {
    padding: 21px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 24px 0;
  }

  /* border-bottom: 1px solid #ececec; */
  border-bottom: 3px solid red;
  background-color: #ffffff;
  z-index: 999;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  .address {
    @media screen and (min-width: 768px) {
      margin-left: auto;
    }
    /* margin-left: auto; */
  }
}

.navigation {
  display: flex;
  align-items: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 100%;
    max-width: 450px;
    justify-content: space-between;
  }

  .logo {
    margin-right: 88px;

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
}

.logo-web {
  font-family: $logo-font;
  font-style: normal;
  @include font(700, 24px, 28px);
  letter-spacing: 0.03em;
  color: #2196f3;

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 31px);
  }
}

.logo-studio {
  font-family: $logo-font;
  font-style: normal;
  @include font(700, 24px, 28px);
  letter-spacing: 0.03em;
  color: #212121;

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 31px);
  }
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding: 0 84px 0 0;
    /* margin-right: 84px; */
  }

  &-link {
    font-style: normal;
    @include font(500, 18px, 21px);
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      @include font(500, 14px, 16px);
    }
  }

  &-item {
    position: relative;

    &:not(:last-child) {
      @media screen and (min-width: 768px) {
        margin-right: 50px;
      }
      /* margin-right: 50px; */
    }
  }

  &-item:first-child {
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }

  &-item:not(:first-child) {
    margin-top: 40px;
    @media screen and (min-width: 768px) {
      margin-top: 0px;
    }
  }
}

.akcent-title::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  bottom: -8px;
  left: 0;
  border-radius: 2px;
  background-color: getColor("accent");

  @media screen and (min-width: 768px) {
    bottom: -32px;
  }

  @media screen and (min-width: 1200px) {
    bottom: -30px;
  }
}

.address-list {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 320px) and (max-width: 1200px) {
    margin-left: auto;
  }

  &-item {
    text-align: center;

    &:first-child {
      margin-bottom: 16px;
      @media screen and (min-width: 320px) {
        margin-bottom: 10px;
      }

      @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }

  &-item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
}

.address-logo {
  width: 16px;
  height: 12px;
  margin-right: 10px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }

  &-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.address-mail,
.address-tel {
  display: flex;
  align-items: center;
  fill: currentcolor;
  font-style: normal;
  @include font(500, 18px, 21px);
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    @include font(500, 12px, 14px);
  }

  @media screen and (min-width: 1200px) {
    @include font(500, 14px, 16px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;

    & .icon-cross {
      display: none;
    }

    &.is-open .icon-cross {
      display: block;
    }

    &.is-open .icon-menu {
      display: none;
    }
  }

  .header-mobile {
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .header-mobile {
    display: flex;
    width: 100%;
  }
}
