/*основной цвет текста(color-main)-серый-#757575*/
/*текст заголовков (color-title) -чёрный-#212121*/
/*вспомогательный цвет-белый-#ffffff*/
/* акцент-цвет выделения (color-accent)-синий #2196F3*/
/*цвет mail  и tel в футере- rgba(255, 255, 255, 0.6);*/

/*цвет body-#2196F3*/
/*цвет header+main белый-#ffffff*/
/*цвет  hero-#2f303a*/
/*цвет section-team-#f5f4fa*/
/*цвет footer-#2f303a*/

/*основной текст (main-font) Roboto*/
/*текст лого (logo-font) Raleway*/

$colors: (
  "main": #757575,
  "title": #212121,
  "accent": #2196f3,
  "modal": #757575,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh/$fs;
}

$grsdient-hero: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
